In [24]:
import numpy as np
import pandas as pd
path_new_notes = '../../files_tensorhero/Training Data/Processed/Facelift Pack 2/Stevie Ray Vaughan and Double Trouble - Texas Flood [xX760Xx]/notes.npy'
notes1 = np.load((path_new_notes))

In [23]:

notes_test = notes1
notes_test[361] = 0
notes1[1189] = 4
notes1[803] = 0
notes1[1237] = 15
notes1[29885] = 4
notes1[611] = 2

32.0

In [30]:
nt = pd.DataFrame(data = notes1, columns = ['note'])
nt.head()

   note
0   0.0
1   0.0
2   0.0
3   0.0
4   0.0

In [34]:
nt[nt['note'] == 12]

     note
579  12.0
611  12.0